<div>
  <fa-app id="intro" ng-controller='FamousController' fa-perspective="2000">
  <!-- Surface for background of welcome page -->
    <fa-modifier 
    fa-align="introModifier.align"
    fa-size="introModifier.size"
    fa-origin="introModifier.origin">
      <fa-image-surface
      fa-background-color="black">
      </fa-image-surface>
      <!-- Surface for Enter button and gif -->
        <fa-modifier 
        fa-align="enterModifier.align"
        fa-size="enterModifier.size"
        fa-origin="enterModifier.origin">
          <fa-surface
          fa-background-color="'#4D5D53'"
          fa-click="tankBlast()">
          <div id="enterTitle">Tankerooski</div>
          <div id="enterButton">Enter</div>
          </fa-surface>
        </fa-modifier>
        <!-- Tank image still surface -->
        <fa-modifier
        fa-align="tankModifier.align"
        fa-size="tankModifier.size"
        fa-origin="tankModifier.origin">
          <fa-image-surface
          fa-image-url="./assets/images/tankStill.jpg">
          </fa-image-surface>
        </fa-modifier>
    </fa-modifier>






            <!-- <img id="enterTank" src="./assets/images/tankTurrent.gif"/><br> -->
            <!-- <img id="enterTank" src="./assets/images/tankStill.jpg"/><br> -->






<!-- Set up all surfaces and use z-translations to change slides/surfaces -->



<!-- Flame and fade out to landing page -->
<!--         <fa-surface>
            <tank-welcome></tank-welcome>
        </fa-surface>
        <fa-modifier 
            fa-align="introModifier.align"
            fa-size="introModifier.size"
            fa-origin="introModifier.origin"
            fa-opacity="opacityState">
            <fa-image-surface
                fa-image-url="../assets/images/fire.gif"
                fa-click="opacityOut()"
                id="flames">
            </fa-image-surface>
          </fa-modifier> -->
        </fa-app>

<!-- <div>
    <fa-app id="intro" ng-controller='FamousController' fa-perspective="2000">
        <fa-flipper fa-options="flipOptions">
            <fa-modifier fa-align="introModifier.align"
                         fa-size="introModifier.size"
                         fa-rotate-y="angle.get()"
                         fa-origin="introModifier.origin"
                         fa-translate="introTransitionable.get()"
                         >
                <fa-image-surface fa-image-url="../assets/images/fire.gif"
                            fa-color="'white'"
                            fa-click="flipIt()">
                </fa-image-surface>
            </fa-modifier>
            <fa-modifier fa-align="introModifier.align"
                         fa-size="introModifier.size"
                         fa-rotate-y="angle.get()"
                         fa-origin="introModifier.origin"
                         fa-translate="introTransitionable.get()"
                         >
                <fa-surface>
                    <tank-welcome></tank-welcome>
                </fa-surface>
            </fa-modifier>
        </fa-flipper>
    </fa-app>

  </div> -->

</div>
