<div>
  <fa-app id="intro" ng-controller='FamousController' fa-perspective="2000">
  <!-- Surface for background of welcome page -->
    <fa-modifier 
    fa-align="introModifier.align"
    fa-size="introModifier.size"
    fa-origin="introModifier.origin">
      <fa-image-surface
      fa-background-color="black">
      </fa-image-surface>
      <!-- Surface for Enter button and gif -->
        <fa-modifier 
        fa-align="enterModifier.align"
        fa-size="enterModifier.size"
        fa-origin="enterModifier.origin">
          <fa-surface fa-background-color="'#4D5D53'">
            <div id="enterTitle">Tankerooski</div>
            <div id="enterButton">Enter</div>
          </fa-surface>
        </fa-modifier>
        <!-- Tank gif image surface -->
        <fa-modifier
        fa-align="tankModifier.align"
        fa-size="tankModifier.size"
        fa-origin="tankModifier.origin">
          <fa-image-surface
          fa-image-url="./assets/images/tankTurrent.gif">
          </fa-image-surface>
          <fa-modifier
          fa-origin="[0.5, 0.5]"
          fa-align="[0.5, 0.5]"
          fa-scale="scale.get()">
            <fa-surface
            fa-background-color="'#dc322f'"
            fa-size="[100, 100]"></fa-surface>
            <fa-modifier
            fa-size="[50, 50]"
            fa-rotate-z="rotate.get()">
              <fa-surface
              fa-background-color="'#268bd2'"
                fa-click="animateScale()">
              </fa-surface>
            </fa-modifier>
          </fa-modifier>
        </fa-modifier>
      </fa-modifier>

<!-- Flame and fade out to landing page -->
<!--         <fa-surface>
            <tank-welcome></tank-welcome>
        </fa-surface>
        <fa-modifier 
            fa-align="introModifier.align"
            fa-size="introModifier.size"
            fa-origin="introModifier.origin"
            fa-opacity="opacityState">
            <fa-image-surface
                fa-image-url="../assets/images/fire.gif"
                fa-click="opacityOut()"
                id="flames">
            </fa-image-surface>
          </fa-modifier> -->
  </fa-app>

<!--   <fa-app ng-controller='TurrentRotationController'>
    <fa-render-node fa-node="turrentView"></fa-render-node>
  </fa-app> -->

<!-- <div>
    <fa-app id="intro" ng-controller='FamousController' fa-perspective="2000">
        <fa-flipper fa-options="flipOptions">
            <fa-modifier fa-align="introModifier.align"
                         fa-size="introModifier.size"
                         fa-rotate-y="angle.get()"
                         fa-origin="introModifier.origin"
                         fa-translate="introTransitionable.get()"
                         >
                <fa-image-surface fa-image-url="../assets/images/fire.gif"
                            fa-color="'white'"
                            fa-click="flipIt()">
                </fa-image-surface>
            </fa-modifier>
            <fa-modifier fa-align="introModifier.align"
                         fa-size="introModifier.size"
                         fa-rotate-y="angle.get()"
                         fa-origin="introModifier.origin"
                         fa-translate="introTransitionable.get()"
                         >
                <fa-surface>
                    <tank-welcome></tank-welcome>
                </fa-surface>
            </fa-modifier>
        </fa-flipper>
    </fa-app>

  </div> -->

</div>
