<div>
  <div id="rebellionLogin" parallax-background parallax-ratio="0.9">
    <div class="quotes_container row">
      <div class="col-md-12">
        <div class="col-md-6">
          <div class="gols">
            <h3 class="quotes">“We were able to take hold a fleet of old German tanks.  Now we just need to train people with our sweet virtual training ground so we can destroy these alien bastards.”</h3>
            <h4 class='barack'> - General Jason Yang </h4>
          </div>
        </div>
        <div class="col-md-6">
            <div class="logs">
              <h2>Join the resistance. Start training today.</h2>
              <p>Login or Register with:</p>
              <a ng-href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
            </div>  
        </div> 
      </div>
    </div> 
  </div>
  <!-- <div class="container">
    <div class="jumbotron text-center">
      <h1><span class="fa fa-lock"></span> Tankerooski</h1>
      <h2>The end is near.  Join the resistance.</h2>
      <p>Login or Register with:</p>
      <a ng-href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
    </div>
  </div> -->
</div>





