<div class="container">
    <h1>Tankerooski</h1>
    <h2>Profile Page</h2>
    <div>
        <a href="/logout">Logout</a>
        <div>[Profile pic placeholder]</div>
        <img src="{{user.picture}}"></img>
        <div> {{ data.picture }} </div> 
        <a>Callsign: </a><br>
        <a>Kills: </a><br>
        <a>Deaths: </a><br>
        <a>Date of Enlistment: </a><br>
        <a>Hometown: </a><br>
        <a>Ideal First Date : </a>
    </div>
  <a href="http://tankfiddle.herokuapp.com/"><h2>Join the fight!</h2></a>
</div>