<div id='tech-stacks' parallax-background parallax-ratio="0.9">
  <h1 id='tech-title'>Tech Stack</h1>
  <div id='tech-stack-container'><img id='tech-stack' src='./assets/images/three.png'></img></div>
  <div id='tech-stack-container'><img id='tech-stack' src='./assets/images/socketio.png'></img></div>
  <div id='tech-stack-container'><img id='tech-stack' src='./assets/images/famous.png'></img></div>
  <div id='tech-stack-container'><img id='tech-stack' src='./assets/images/mongodb.png'></img></div>
  <div id='tech-stack-container'><img id='tech-stack' src='./assets/images/mongoose.png'></img></div>
  <div id='tech-stack-container'><img id='tech-stack' src='./assets/images/node.png'></img></div>
  <div id='tech-stack-container'><img id='tech-stack' src='./assets/images/express.png'></img></div>
  <div id='tech-stack-container'><img id='tech-stack' src='./assets/images/angular.png'></img></div>
  <div id='tech-stack-container'><img id='tech-stack' src='./assets/images/gulp.png'></img></div>
</div>