<div id='team'>
  <h1>Dev Team</h1>
  <div id='team-member'>
    <img id='team-pic' src='https://avatars3.githubusercontent.com/u/8507735?v=3&s=460'><div id='team-name'>Jacky Chan</div></img>
    <div id='team-links'>
      <a href='//www.linkedin.com/in/chikeichan' target="_blank"><img id='team-navicon' src='./assets/icons/linkedin.png'></img></a>
      <a href='//github.com/chikeichan' target="_blank"><img id='team-navicon' src='./assets/icons/github.png'></img></a>
      <a href='//chikei.io' target="_blank"><img id='team-navicon' src='./assets/icons/blog.png'></img></a>
    </div>
  </div>  
  <div id='team-member'>
    <img id='team-pic' src='https://avatars1.githubusercontent.com/u/7460768?v=3&s=460'><div id='team-name'>Jason Yang</div></img>
    <div id='team-links'>
      <a href='//www.linkedin.com/in/jasonyangftd/en' target="_blank"><img id='team-navicon' src='./assets/icons/linkedin.png'></img></a>
      <a href='//github.com/jasonyangftd' target="_blank"><img id='team-navicon' src='./assets/icons/github.png'></img></a>
      <a href='//jasonyangftd.wordpress.com' target="_blank"><img id='team-navicon' src='./assets/icons/blog.png'></img></a>
    </div>
  </div>  
  <div id='team-member'>
    <img id='team-pic' src='https://avatars1.githubusercontent.com/u/7829301?v=3&s=460'><div id='team-name'>Rick Wuebker</div></img>
    <div id='team-links'>
      <a href='//www.linkedin.com/in/rickwuebker/en' target="_blank"><img id='team-navicon' src='./assets/icons/linkedin.png'></img></a>
      <a href='//github.com/rwuebker' target="_blank"><img id='team-navicon' src='./assets/icons/github.png'></img></a>
      <a href='//rwuebker.github.io' target="_blank"><img id='team-navicon' src='./assets/icons/blog.png'></img></a>
    </div>
  </div>  
  <div id='team-member'>
    <img id='team-pic' src='https://avatars1.githubusercontent.com/u/7648616?v=3&s=460'><div id='team-name'>Bryan Venable</div></img>
    <div id='team-links'>
      <a href='//www.linkedin.com/in/bryanlvenable/en' target="_blank"><img id='team-navicon' src='./assets/icons/linkedin.png'></img></a>
      <a href='//github.com/bryanlvenable' target="_blank"><img id='team-navicon' src='./assets/icons/github.png'></img></a>
      <a href='//opportunityforasolution.com/' target="_blank"><img id='team-navicon' src='./assets/icons/blog.png'></img></a>
    </div>
  </div>
</div>