<div id="leaderBoard">
  <h2>Leader Board</h2>
  <table id = "leaderBoardTable">
    <tr>
      <td>Avatar</td>
      <td>Player</td>
      <td><a href="" ng-click="sortBy = 'player.kills'">Kills</a></td>
      <td><a href="" ng-click="sortBy = 'player.killed'">Deaths</a></td>
      <td><a href="" ng-click="sortBy = 'player.kills / player.killed'">Score (Kill-Death Ratio)</a></td>
      <td><a href="" ng-click="sortBy = 'player.fired'">Total Shots</a></td>
      <td><a href="" ng-click="sortBy = 'player.onTarget'">On Target</a></td>
      <td><a href="" ng-click="sortBy = 'player.onTarget / player.fired'">Accuracy</a></td>
    </tr>
    <tr ng-repeat = "player in players | orderBy:sortBy:true">
      <td id="leaderBoardImage"><img src="{{player.google.picture}}" id="leaderBoardUserPic"></img></td>
      <td id = "leaderBoardUsername">{{player.google.name}}</td>
      <td id = "leaderBoardKills">{{player.player.kills}}</td>
      <td id = "leaderBoardDeaths">{{player.player.killed}}</td>
      <td id = "leaderBoardScore">{{player.player.kills / player.player.killed}}</td>
      <td id = "leaderBoardFired">{{player.player.fired}}</td>
      <td id = "leaderBoardOnTarget">{{player.player.onTarget}}</td>
      <td id = "leaderBoardAccuracy">{{player.player.onTarget / player.player.fired}}</td>

    </tr>
  </table>
</div>